<ul class="iconsList">
                <li>
                    <img class="img img--fluid" src="/img/tech/php.svg">
                    <p>PHP 7</p>
                </li>
                <li>
                    <img class="img img--fluid" src="/img/tech/laravel.svg">
                    <p>Laravel</p>
                </li>
                <li>
                    <img class="img img--fluid" src="/img/tech/javascript_1.svg">
                    <p>Javascript</p>
                </li>
                <li>
                    <img class="img img--fluid" src="/img/tech/ruby.svg">
                    <p>Ruby</p>
                </li>
                <li>
                    <img class="img img--fluid" src="/img/tech/linux.svg">
                    <p>Linux</p>
                </li>
                            <li>
                    <img class="img img--fluid" src="/img/tech/mysql.svg">
                    <p>MySQL</p>
                </li>
                <li>
                    <img class="img img--fluid" src="/img/tech/aws.svg">
                    <p>AWS</p>
                </li>
                            <li>
                    <img class="img img--fluid" src="/img/tech/redis.svg">
                    <p>redis</p>
                </li>
                <li>
                    <img class="img img--fluid" src="/img/tech/git.svg">
                    <p>git</p>
                </li>