/* Catch a ride! */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* Reset */
@import "./reset";
/* Components */
@import "./buttons";
@import "./form";

/* Utilities */
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400|Spectral:400,700&display=swap');

body{
    font-weight: 200;
}

h1,h2,h3 {
    font-weight: 700;
}

h4, h5, h6 {
    font-weight: 400
}

a, a:link {
    color: #0f81f9;
}

a:hover, a:active {
    color: #3595fa;
}
.iconsList {
    display:flex;
    flex-wrap: wrap;
    flex-grow: inherit;
}

.iconsList > li {

    margin: 1.5rem;
    align-items: center;
    text-align: center;
}

[x-cloak] { display: none; }

.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-link:not(.disabled) {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}



.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    color: #0f81f9;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #3595fa;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link  {
    color:white;
    background-color:#3595fa;
}